<header class="header">
  <div class="big-container header__container">
    <a href="#" class="header__logo logo"></a>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Blog</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Features</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Pricing</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Documentation</a>
        </li>
      </ul>
    </nav>
    <ul class="social header__social list-reset">
      <li class="social__item">
        <a href="#" class="social__link" aria-label="facebook">
          <svg aria-hidden="true" width="9" height="17">
            <use href="img/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="telegram">
          <svg aria-hidden="true" width="15" height="13">
            <use href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="twitter">
          <svg aria-hidden="true" width="18" height="14">
            <use href="img/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a href="#" class="social__link" aria-label="market">
          <svg aria-hidden="true" width="17" height="14">
            <use href="img/sprite.svg#market"></use>
          </svg>
        </a>
      </li>
    </ul>
    <a href="#" class="btn btn_primary header__btn">Get started</a>
    <button class="burger btn-reset" aria-label="menu-burger">
      <span class="burger__line"></span>
    </button>
  </div>
</header>
