// colors
$color-white: #fff;
$color-black: #000;
$color-main: #3d4f9f;
$color-primary: #8d96bd;

// width
$maxWidth: 1440;
$maxWidthContainer: 894;
$maxWidthBigContainer: 1206;
$md1: $maxWidthContainer + 12;
$md3: 767.98;
$md4: 479.98;
